/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  --color-main: #0E7ABC;
}




.i {
  width: 20px;
  height: 20px;
  display: block;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.i-user {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23EEF1F8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 25.5823C4.31924 23.0058 7.73545 20.9745 12.0632 20.1951C9.54895 18.8154 7.84614 16.1553 7.84614 13.1C7.84614 8.62649 11.4967 5 16 5C20.5033 5 24.1539 8.62649 24.1539 13.1C24.1539 16.1553 22.451 18.8154 19.9368 20.1951C24.2646 20.9745 27.6808 23.0058 29 25.5823C26.022 29.4817 21.3071 32 16 32C10.6929 32 5.97797 29.4817 3 25.5823Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
}
.i-list {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='8' fill='%23A7BBC7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 8C6 6.89543 6.89543 6 8 6H24C25.1046 6 26 6.89543 26 8C26 9.10457 25.1046 10 24 10H8C6.89543 10 6 9.10457 6 8ZM6 16C6 14.8954 6.89543 14 8 14H24C25.1046 14 26 14.8954 26 16C26 17.1046 25.1046 18 24 18H8C6.89543 18 6 17.1046 6 16ZM8 22C6.89543 22 6 22.8954 6 24C6 25.1046 6.89543 26 8 26H16C17.1046 26 18 25.1046 18 24C18 22.8954 17.1046 22 16 22H8Z' fill='%23FDFEFF'/%3E%3C/svg%3E%0A");
}
.i-eat {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='8' fill='%23A7BBC7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1595 9.759C17.2179 9.61104 17.25 9.44936 17.25 9.28C17.25 8.57308 16.6904 8 16 8C15.3096 8 14.75 8.57308 14.75 9.28C14.75 9.44936 14.7821 9.61104 14.8405 9.759C10.7655 10.5573 6.9946 13.8112 6.19744 17.8635C5.97912 18.9732 6.89119 19.9003 7.99576 19.9003H24.0058C25.1104 19.9003 26.0209 18.9732 25.8026 17.8635C25.0054 13.8112 21.2345 10.5573 17.1595 9.759ZM7 21.9501C6.44772 21.9501 6 22.409 6 22.9751C6 23.5411 6.44772 24 7 24H25C25.5523 24 26 23.5411 26 22.9751C26 22.409 25.5523 21.9501 25 21.9501H7Z' fill='%23FDFEFF'/%3E%3C/svg%3E%0A");
}
.i-box {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='8' fill='%23A7BBC7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.64286 8C7.28782 8 7 8.29848 7 8.66667V12C7 12.3682 7.28782 12.6667 7.64286 12.6667H24.3571C24.7122 12.6667 25 12.3682 25 12V8.66667C25 8.29848 24.7122 8 24.3571 8H7.64286ZM8.28571 14H23.7143V23.3333C23.7143 23.7015 23.4265 24 23.0714 24H8.92857C8.57353 24 8.28571 23.7015 8.28571 23.3333V14ZM13.4286 16.6667C13.4286 16.2985 13.7164 16 14.0714 16H17.9286C18.2836 16 18.5714 16.2985 18.5714 16.6667C18.5714 17.0349 18.2836 17.3333 17.9286 17.3333H14.0714C13.7164 17.3333 13.4286 17.0349 13.4286 16.6667Z' fill='%23FDFEFF'/%3E%3C/svg%3E%0A");
}
.i-list-colored {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='8' fill='%230E7ABC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 8C6 6.89543 6.89543 6 8 6H24C25.1046 6 26 6.89543 26 8C26 9.10457 25.1046 10 24 10H8C6.89543 10 6 9.10457 6 8ZM6 16C6 14.8954 6.89543 14 8 14H24C25.1046 14 26 14.8954 26 16C26 17.1046 25.1046 18 24 18H8C6.89543 18 6 17.1046 6 16ZM8 22C6.89543 22 6 22.8954 6 24C6 25.1046 6.89543 26 8 26H16C17.1046 26 18 25.1046 18 24C18 22.8954 17.1046 22 16 22H8Z' fill='%23FDFEFF'/%3E%3C/svg%3E%0A");
}
.i-eat-colored {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='8' fill='%230E7ABC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1595 9.759C17.2179 9.61104 17.25 9.44936 17.25 9.28C17.25 8.57308 16.6904 8 16 8C15.3096 8 14.75 8.57308 14.75 9.28C14.75 9.44936 14.7821 9.61104 14.8405 9.759C10.7655 10.5573 6.9946 13.8112 6.19744 17.8635C5.97912 18.9732 6.89119 19.9003 7.99576 19.9003H24.0058C25.1104 19.9003 26.0209 18.9732 25.8026 17.8635C25.0054 13.8112 21.2345 10.5573 17.1595 9.759ZM7 21.9501C6.44772 21.9501 6 22.409 6 22.9751C6 23.5411 6.44772 24 7 24H25C25.5523 24 26 23.5411 26 22.9751C26 22.409 25.5523 21.9501 25 21.9501H7Z' fill='%23FDFEFF'/%3E%3C/svg%3E%0A");
}
.i-box-colored {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='8' fill='%230E7ABC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.64286 8C7.28782 8 7 8.29848 7 8.66667V12C7 12.3682 7.28782 12.6667 7.64286 12.6667H24.3571C24.7122 12.6667 25 12.3682 25 12V8.66667C25 8.29848 24.7122 8 24.3571 8H7.64286ZM8.28571 14H23.7143V23.3333C23.7143 23.7015 23.4265 24 23.0714 24H8.92857C8.57353 24 8.28571 23.7015 8.28571 23.3333V14ZM13.4286 16.6667C13.4286 16.2985 13.7164 16 14.0714 16H17.9286C18.2836 16 18.5714 16.2985 18.5714 16.6667C18.5714 17.0349 18.2836 17.3333 17.9286 17.3333H14.0714C13.7164 17.3333 13.4286 17.0349 13.4286 16.6667Z' fill='%23FDFEFF'/%3E%3C/svg%3E%0A");
}
.i-plus {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='8' fill='%23FDFEFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.15789 6.84211V3.1875C9.15789 2.8078 8.85009 2.5 8.4704 2.5H7.5296C7.14991 2.5 6.8421 2.8078 6.8421 3.1875L6.84211 6.84211H3.1875C2.8078 6.84211 2.5 7.14991 2.5 7.5296V8.4704C2.5 8.85009 2.8078 9.15789 3.1875 9.15789H6.84211V12.8125C6.84211 13.1922 7.14991 13.5 7.5296 13.5H8.4704C8.85009 13.5 9.15789 13.1922 9.15789 12.8125V9.15789H12.8125C13.1922 9.15789 13.5 8.85009 13.5 8.4704V7.52961C13.5 7.14991 13.1922 6.84211 12.8125 6.84211H9.15789Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
}


/*! jQuery UI - v1.13.1 - 2022-05-21
* http://jqueryui.com
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-draggable-handle{-ms-touch-action:none;touch-action:none}.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;-ms-filter:"alpha(opacity=0)"}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;-ms-touch-action:none;touch-action:none}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-button{padding:.4em 1em;display:inline-block;position:relative;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2em;box-sizing:border-box;text-indent:-9999px;white-space:nowrap}input.ui-button.ui-button-icon-only{text-indent:0}.ui-button-icon-only .ui-icon{position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px}.ui-button.ui-icon-notext .ui-icon{padding:0;width:2.1em;height:2.1em;text-indent:-9999px;white-space:nowrap}input.ui-button.ui-icon-notext .ui-icon{width:auto;height:auto;text-indent:0;white-space:normal;padding:.4em 1em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-controlgroup{vertical-align:middle;display:inline-block}.ui-controlgroup > .ui-controlgroup-item{float:left;margin-left:0;margin-right:0}.ui-controlgroup > .ui-controlgroup-item:focus,.ui-controlgroup > .ui-controlgroup-item.ui-visual-focus{z-index:9999}.ui-controlgroup-vertical > .ui-controlgroup-item{display:block;float:none;width:100%;margin-top:0;margin-bottom:0;text-align:left}.ui-controlgroup-vertical .ui-controlgroup-item{box-sizing:border-box}.ui-controlgroup .ui-controlgroup-label{padding:.4em 1em}.ui-controlgroup .ui-controlgroup-label span{font-size:80%}.ui-controlgroup-horizontal .ui-controlgroup-label + .ui-controlgroup-item{border-left:none}.ui-controlgroup-vertical .ui-controlgroup-label + .ui-controlgroup-item{border-top:none}.ui-controlgroup-horizontal .ui-controlgroup-label.ui-widget-content{border-right:none}.ui-controlgroup-vertical .ui-controlgroup-label.ui-widget-content{border-bottom:none}.ui-controlgroup-vertical .ui-spinner-input{width:75%;width:calc( 100% - 2.4em )}.ui-controlgroup-vertical .ui-spinner .ui-spinner-up{border-top-style:solid}.ui-checkboxradio-label .ui-icon-background{box-shadow:inset 1px 1px 1px #ccc;border-radius:.12em;border:none}.ui-checkboxradio-radio-label .ui-icon-background{width:16px;height:16px;border-radius:1em;overflow:visible;border:none}.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon{background-image:none;width:8px;height:8px;border-width:4px;border-style:solid}.ui-checkboxradio-disabled{pointer-events:none}.ui-dialog{position:absolute;top:0;left:0;padding:.2em;outline:0}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:20px;margin:-10px 0 0 0;padding:1px;height:20px}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-n{height:2px;top:0}.ui-dialog .ui-resizable-e{width:2px;right:0}.ui-dialog .ui-resizable-s{height:2px;bottom:0}.ui-dialog .ui-resizable-w{width:2px;left:0}.ui-dialog .ui-resizable-se,.ui-dialog .ui-resizable-sw,.ui-dialog .ui-resizable-ne,.ui-dialog .ui-resizable-nw{width:7px;height:7px}.ui-dialog .ui-resizable-se{right:0;bottom:0}.ui-dialog .ui-resizable-sw{left:0;bottom:0}.ui-dialog .ui-resizable-ne{right:0;top:0}.ui-dialog .ui-resizable-nw{left:0;top:0}.ui-draggable .ui-dialog-titlebar{cursor:move}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html body {
  background: #fff;
  color: #1A1B1C;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
#wrapper {
  display: grid;
  grid-template-columns: minmax(0, 224px) minmax(0, 50%) minmax(0, 1fr);
}
#wrapper #left {
  padding: 24px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
#wrapper #center {
  overflow: auto;
  overflow-x: hidden;
  padding: 24px;
  box-sizing: border-box;
  margin-left: 24px;
  height: 100vh;
}
#wrapper #right {
  background: #EEF1F8;
  overflow: auto;
  overflow-x: hidden;
  padding: 24px 48px;
  box-sizing: border-box;
  height: 100vh;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: var(--color-main);
}
.block-title {
  font-size: 24px;
  font-weight: 800;
  color: #0e7abc;
  padding: 8px 0;
  margin-bottom: 24px;
}
p {
  margin-bottom: 16px;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: var(--color-main);
  text-decoration: none;
}
* {
  outline: none !important;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.flex-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.flex-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  text-align: center;
}
.form-group {
  margin-bottom: 16px;
}
.form-group.item-actions button,
.form-group.item-actions .button {
  margin-right: 16px;
}
.form-group.item-actions button:last-child,
.form-group.item-actions .button:last-child {
  margin-right: 0;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group > label {
  display: block;
  margin-bottom: 8px;
  line-height: 1.35;
}
.form-group input[type="text"],
.form-group input[type="password"] {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  margin: 0;
  padding: 0 12px;
  box-sizing: border-box;
  height: 36px;
  border: 1px solid var(--color-main);
  border-radius: 8px;
  width: 100%;
}
.form-group input[type="text"]::-moz-placeholder, .form-group input[type="password"]::-moz-placeholder {
  color: #A7BBC7;
}
.form-group input[type="text"]:-ms-input-placeholder, .form-group input[type="password"]:-ms-input-placeholder {
  color: #A7BBC7;
}
.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
  color: #A7BBC7;
}
button,
.button {
  font-family: 'Montserrat', Arial, sans-serif;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 34px;
  background: var(--color-main);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.35;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.white,
.button.white {
  border: 2px solid var(--color-main);
  background: #fff;
  color: var(--color-main);
  position: relative;
}
button .i,
.button .i {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.segment {
  border: 2px solid #0E7ABC;
  border-radius: 16px;
  padding: 24px 32px;
  box-sizing: border-box;
}
.segment > .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.35;
}
.auth-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100vh;
}
.auth-layout .left {
  background: #EEF1F8;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-layout .left .hadassah {
  margin-bottom: 64px;
}
.auth-layout .left img {
  display: block;
  max-width: 100%;
  width: 276px;
  height: auto;
}
.auth-layout .right {
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-layout .right > .content {
  width: 480px;
  max-width: 100%;
}
.auth-layout .right > .content.small {
  width: 400px;
}
.sidebar-header-block .logo {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-bottom: 72px;
}
.sidebar-header-block .logo img {
  display: block;
  max-width: 100%;
  width: 118px;
  height: auto;
}
.sidebar-header-block .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #A7BBC7;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.35;
  letter-spacing: 0.72px;
}
.sidebar-header-block .profile:hover {
  color: var(--color-main);
}
.sidebar-header-block .profile .i {
  min-width: 32px;
  width: 32px;
  height: 32px;
  margin-right: 24px;
}
.sidebar-menu-block ul li.active a,
.sidebar-menu-block ul li:hover a {
  color: var(--color-main);
}
.sidebar-menu-block ul li.active a .icon-default,
.sidebar-menu-block ul li:hover a .icon-default {
  display: none;
}
.sidebar-menu-block ul li.active a {
  background: #EEF1F8;
  position: relative;
}
.sidebar-menu-block ul li.active a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--color-main);
}
.sidebar-menu-block ul li:not(.active):not(:hover) .icon-colored {
  display: none;
}
.sidebar-menu-block ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 16px 24px 16px 48px;
  border-radius: 0 16px 16px 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  color: #a7bbc7;
}
.sidebar-menu-block ul li a .i {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin-right: 24px;
}
.sidebar-menu-block ul li a:hover {
  color: var(--color-main);
}
.sidebar-petrushka-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.sidebar-petrushka-block img {
  display: block;
  max-width: 100%;
  width: 112px;
  height: auto;
}
.header-block {
  padding: 8px 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-block .title {
  font-size: 24px;
  font-weight: 800;
  color: #0e7abc;
}
.table {
  display: none;
}
.table .tr {
  display: grid;
}
.table .tr.active {
  background: #EEF1F8;
  margin: 0 -24px;
  padding: 0 24px;
  border-radius: 16px 0 0 16px;
}
.table .tr .th {
  padding: 12px 16px 12px 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  color: #c9ced1;
  border-bottom: 2px solid #EEF1F8;
  margin-bottom: 4px;
}
.table .tr .th a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #a7bbc7;
}
.table .tr .th a.sort:hover {
  color: var(--color-main);
}
.table .tr .th a.sort:after {
  content: '';
  width: 12px;
  height: 6px;
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%23A7BBC7'/%3E%3C/svg%3E%0A");
}
.table .tr .th a.sort.desc:after {
  transform: rotate(180deg);
}
.table .tr .th a.sort.active:after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
}
.table .tr .td {
  padding: 16px 16px 16px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.table .tr .td .name {
  font-size: 16px;
  font-weight: 500;
}
.table .tr .td .tag {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 16px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.71;
  text-transform: uppercase;
}
.table .tr .td .tag.yellow {
  background: #FDF7C6;
  color: #EDD727;
}
.table .tr .td .tag.green {
  background: #D4F5C8;
  color: #7AB764;
}
.table .tr .td .tag.mint {
  background: #C8F5E5;
  color: #63C09F;
}
.table .tr .td .tag.purple {
  background: #DBDAFF;
  color: #9C99F2;
}
.table .tr .td .tag.blue {
  background: #CAF0FB;
  color: #01AEEE;
}
.tabs {
  display: flex;
  margin-bottom: 24px;
}
.tabs a {
  width: 100%;
  min-width: 0;
  color: #a7bbc7;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  line-height: 1.33;
  padding: 12px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #A7BBC7;
}
.tabs a:hover {
  color: var(--color-main);
}
.tabs a.active {
  border-color: var(--color-main);
  color: var(--color-main);
}
[data-tab-content]:not(.active) {
  display: none;
}
.switch {
  display: flex;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  margin-bottom: 16px;
}
.switch a {
  width: 100%;
  min-width: 0;
  min-height: 32px;
  padding: 4px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #a7bbc7;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--color-main);
}
.switch a:last-child {
  border: none;
}
.switch a.active {
  background: var(--color-main);
  color: #ffffff;
}
.switch a:not(.active):hover {
  color: var(--color-main);
}
.patient-card-block .profile .name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 1.3;
}
.patient-card-block .profile .fields {
  margin-bottom: 24px;
}
.patient-card-block .profile .fields .field {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  margin-bottom: 8px;
}
.patient-card-block .profile .fields .field:last-child {
  margin-bottom: 0;
}
.patient-card-block .profile .fields .field .label {
  color: #A7BBC7;
  font-weight: 500;
}
.patient-card-block .profile .fields .field .value {
  font-size: 16px;
  font-weight: 500;
}
.patient-card-block .profile .help {
  font-style: italic;
}
.patient-card-block .profile .actions {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.patient-card-block .profile .actions .button {
  margin-right: 24px;
}
.patient-card-block .profile .actions .button:last-child {
  margin-right: 0;
}
.patient-card-block .eat .date {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #A7BBC7;
  margin-bottom: 16px;
}
.patient-card-block .eat .boxes .box {
  margin-bottom: 16px;
}
.patient-card-block .eat .boxes .box:last-child {
  margin-bottom: 0;
}
.patient-card-block .eat .boxes .box .title {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 16px;
  color: var(--color-main);
}
.products-list .item {
  display: grid;
  grid-template-columns: minmax(0, 96px) minmax(0, 1fr);
  gap: 24px;
  margin-bottom: 16px;
}
.products-list .item:last-child {
  margin-bottom: 0;
}
.products-list .item .img img {
  display: block;
  border-radius: 8px;
}
.products-list .item .info .name {
  font-size: 16px;
  line-height: 1.33;
  font-weight: 600;
  margin-bottom: 4px;
}
.products-list .item .info .value {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 4px;
}
.products-list .item .info .text {
  font-size: 14px;
  line-height: 1.2;
  color: #a7bbc7;
}

