html body {
  background: #fff;
  color: #1A1B1C;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
#wrapper {
  display: grid;
  grid-template-columns: minmax(0, 224px) minmax(0, 50%) minmax(0, 1fr);
}
#wrapper #left {
  padding: 24px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
#wrapper #center {
  overflow: auto;
  overflow-x: hidden;
  padding: 24px;
  box-sizing: border-box;
  margin-left: 24px;
  height: 100vh;
}
#wrapper #right {
  background: #EEF1F8;
  overflow: auto;
  overflow-x: hidden;
  padding: 24px 48px;
  box-sizing: border-box;
  height: 100vh;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: var(--color-main);
}
.mfp-bg {
  background: #EEF1F8;
  opacity: 0.5;
}
.mfp-close-btn-in .mfp-close {
  top: 0 !important;
  right: 0 !important;
  text-align: left;
  overflow: hidden;
  text-indent: -9999px;
  min-height: 0;
  width: 46px;
  height: 46px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 1 !important;
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='512px' height='512px' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eionicons-v5-m%3C/title%3E%3Cpath d='M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z'/%3E%3C/svg%3E");
}
[data-modal] {
  display: none;
  background: #fff;
  border: 2px solid #0E7ABC;
  border-radius: 16px;
  padding: 24px 32px;
  box-sizing: border-box;
}
[data-modal] > .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.35;
}
.mfp-content [data-modal] {
  display: block;
}
.block-title {
  font-size: 24px;
  font-weight: 800;
  color: #0e7abc;
  padding: 8px 0;
  margin-bottom: 24px;
}
p {
  margin-bottom: 16px;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: var(--color-main);
  text-decoration: none;
}
* {
  outline: none !important;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.flex-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.flex-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  text-align: center;
}
.form-group {
  margin-bottom: 16px;
}
.form-group.item-actions button,
.form-group.item-actions .button {
  margin-right: 16px;
}
.form-group.item-actions button:last-child,
.form-group.item-actions .button:last-child {
  margin-right: 0;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group > label {
  display: block;
  margin-bottom: 8px;
  line-height: 1.35;
}
.form-group input[type="text"],
.form-group input[type="password"] {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  margin: 0;
  padding: 0 12px;
  box-sizing: border-box;
  height: 36px;
  border: 1px solid var(--color-main);
  border-radius: 8px;
  width: 100%;
}
.form-group input[type="text"]::-moz-placeholder, .form-group input[type="password"]::-moz-placeholder {
  color: #A7BBC7;
}
.form-group input[type="text"]:-ms-input-placeholder, .form-group input[type="password"]:-ms-input-placeholder {
  color: #A7BBC7;
}
.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
  color: #A7BBC7;
}
.form-group textarea {
  display: block;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  background: #fff;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 8px 12px;
  box-sizing: border-box;
  height: 54px;
  border: 1px solid var(--color-main);
  border-radius: 8px;
  width: 100%;
  text-align: left;
}
button,
.button {
  font-family: 'Montserrat', Arial, sans-serif;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 34px;
  background: var(--color-main);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.35;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.white,
.button.white {
  border: 2px solid var(--color-main);
  background: #fff;
  color: var(--color-main);
  position: relative;
}
button .i,
.button .i {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.segment {
  border: 2px solid #0E7ABC;
  border-radius: 16px;
  padding: 24px 32px;
  box-sizing: border-box;
}
.segment > .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.35;
}
.auth-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100vh;
}
.auth-layout .left {
  background: #EEF1F8;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-layout .left .hadassah {
  margin-bottom: 64px;
}
.auth-layout .left img {
  display: block;
  max-width: 100%;
  width: 276px;
  height: auto;
}
.auth-layout .right {
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-layout .right > .content {
  width: 480px;
  max-width: 100%;
}
.auth-layout .right > .content.small {
  width: 400px;
}
.sidebar-header-block .logo {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-bottom: 72px;
}
.sidebar-header-block .logo img {
  display: block;
  max-width: 100%;
  width: 118px;
  height: auto;
}
.sidebar-header-block .profile {
  position: relative;
}
.sidebar-header-block .profile .label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #A7BBC7;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.35;
  letter-spacing: 0.72px;
}
.sidebar-header-block .profile .label:hover {
  color: var(--color-main);
}
.sidebar-header-block .profile .label .i {
  min-width: 32px;
  width: 32px;
  height: 32px;
  margin-right: 24px;
}
.sidebar-header-block .profile .info {
  position: absolute;
  z-index: 1;
  left: 24px;
  top: 100%;
  margin-top: 16px;
  width: 200px;
}
.sidebar-header-block .profile .info .segment {
  padding: 12px 24px;
}
.sidebar-header-block .profile .info .name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}
.sidebar-header-block .profile .info .email {
  color: #A7BBC7;
  margin-bottom: 4px;
}
.sidebar-header-block .profile .info .links {
  display: flex;
  flex-wrap: wrap;
}
.sidebar-header-block .profile .info .links a {
  color: #C9CED1;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.33;
  margin-right: 16px;
}
.sidebar-header-block .profile .info .links a:last-child {
  margin-right: 0;
}
.sidebar-header-block .profile .info .links a:hover {
  color: var(--color-main);
}
.sidebar-menu-block ul li.active a,
.sidebar-menu-block ul li:hover a {
  color: var(--color-main);
}
.sidebar-menu-block ul li.active a .icon-default,
.sidebar-menu-block ul li:hover a .icon-default {
  display: none;
}
.sidebar-menu-block ul li.active a {
  background: #EEF1F8;
  position: relative;
}
.sidebar-menu-block ul li.active a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--color-main);
}
.sidebar-menu-block ul li:not(.active):not(:hover) .icon-colored {
  display: none;
}
.sidebar-menu-block ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 16px 24px 16px 48px;
  border-radius: 0 16px 16px 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  color: #a7bbc7;
}
.sidebar-menu-block ul li a .i {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin-right: 24px;
}
.sidebar-menu-block ul li a:hover {
  color: var(--color-main);
}
.sidebar-petrushka-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.sidebar-petrushka-block img {
  display: block;
  max-width: 100%;
  width: 112px;
  height: auto;
}
.header-block {
  padding: 8px 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-block .title {
  font-size: 24px;
  font-weight: 800;
  color: #0e7abc;
}
.table {
  display: none;
}
.table .tr {
  display: grid;
}
.table .tr.active {
  background: #EEF1F8;
  margin: 0 -24px;
  padding: 0 24px;
  border-radius: 16px 0 0 16px;
}
.table .tr .th {
  padding: 12px 16px 12px 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  color: #c9ced1;
  border-bottom: 2px solid #EEF1F8;
  margin-bottom: 4px;
}
.table .tr .th a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #a7bbc7;
}
.table .tr .th a.sort:hover {
  color: var(--color-main);
}
.table .tr .th a.sort:after {
  content: '';
  width: 12px;
  height: 6px;
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%23A7BBC7'/%3E%3C/svg%3E%0A");
}
.table .tr .th a.sort.desc:after {
  transform: rotate(180deg);
}
.table .tr .th a.sort.active:after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
}
.table .tr .td {
  padding: 16px 16px 16px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.table .tr .td .name {
  font-size: 16px;
  font-weight: 500;
}
.table .tr .td .tag {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 16px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.71;
  text-transform: uppercase;
}
.table .tr .td .tag.yellow {
  background: #FDF7C6;
  color: #EDD727;
}
.table .tr .td .tag.green {
  background: #D4F5C8;
  color: #7AB764;
}
.table .tr .td .tag.mint {
  background: #C8F5E5;
  color: #63C09F;
}
.table .tr .td .tag.purple {
  background: #DBDAFF;
  color: #9C99F2;
}
.table .tr .td .tag.blue {
  background: #CAF0FB;
  color: #01AEEE;
}
.tabs {
  display: flex;
  margin-bottom: 24px;
}
.tabs a {
  width: 100%;
  min-width: 0;
  color: #a7bbc7;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  line-height: 1.33;
  padding: 12px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #A7BBC7;
}
.tabs a:hover {
  color: var(--color-main);
}
.tabs a.active {
  border-color: var(--color-main);
  color: var(--color-main);
}
[data-tab-content]:not(.active) {
  display: none;
}
.switch {
  display: flex;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  margin-bottom: 16px;
}
.switch a {
  width: 100%;
  min-width: 0;
  min-height: 32px;
  padding: 4px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #a7bbc7;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--color-main);
}
.switch a:last-child {
  border: none;
}
.switch a.active {
  background: var(--color-main);
  color: #ffffff;
}
.switch a:not(.active):hover {
  color: var(--color-main);
}
.patient-card-block .profile .name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 1.3;
}
.patient-card-block .profile .fields {
  margin-bottom: 24px;
}
.patient-card-block .profile .fields .field {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  margin-bottom: 8px;
}
.patient-card-block .profile .fields .field:last-child {
  margin-bottom: 0;
}
.patient-card-block .profile .fields .field .label {
  color: #A7BBC7;
  font-weight: 500;
}
.patient-card-block .profile .fields .field .value {
  font-size: 16px;
  font-weight: 500;
}
.patient-card-block .profile .help {
  font-style: italic;
}
.patient-card-block .profile .actions {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.patient-card-block .profile .actions .button {
  margin-right: 24px;
}
.patient-card-block .profile .actions .button:last-child {
  margin-right: 0;
}
.patient-card-block .eat .date {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #A7BBC7;
  margin-bottom: 16px;
}
.patient-card-block .eat .boxes .box {
  margin-bottom: 16px;
}
.patient-card-block .eat .boxes .box:last-child {
  margin-bottom: 0;
}
.patient-card-block .eat .boxes .box .title {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 16px;
  color: var(--color-main);
}
.products-list .item {
  display: grid;
  grid-template-columns: minmax(0, 96px) minmax(0, 1fr);
  gap: 24px;
  margin-bottom: 16px;
}
.products-list .item:last-child {
  margin-bottom: 0;
}
.products-list .item .img img {
  display: block;
  border-radius: 8px;
}
.products-list .item .info .name {
  font-size: 16px;
  line-height: 1.33;
  font-weight: 600;
  margin-bottom: 4px;
}
.products-list .item .info .value {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 4px;
}
.products-list .item .info .text {
  font-size: 14px;
  line-height: 1.2;
  color: #a7bbc7;
}
body .flatpickr-calendar:before,
body .flatpickr-calendar:after {
  display: none;
}
body .flatpickr-calendar {
  border: 2px solid #0E7ABC;
  border-radius: 16px;
  box-shadow: none;
  overflow: hidden;
}
body .flatpickr-calendar .flatpickr-months {
  position: relative;
  margin: 4px 0;
}
body .flatpickr-day.selected,
body .flatpickr-day.startRange,
body .flatpickr-day.endRange,
body .flatpickr-day.selected.inRange,
body .flatpickr-day.startRange.inRange,
body .flatpickr-day.endRange.inRange,
body .flatpickr-day.selected:focus,
body .flatpickr-day.startRange:focus,
body .flatpickr-day.endRange:focus,
body .flatpickr-day.selected:hover,
body .flatpickr-day.startRange:hover,
body .flatpickr-day.endRange:hover,
body .flatpickr-day.selected.prevMonthDay,
body .flatpickr-day.startRange.prevMonthDay,
body .flatpickr-day.endRange.prevMonthDay,
body .flatpickr-day.selected.nextMonthDay,
body .flatpickr-day.startRange.nextMonthDay,
body .flatpickr-day.endRange.nextMonthDay {
  background: var(--color-main);
  border-color: var(--color-main);
}
.select2-hidden-accessible {
  display: none;
}
.select2 {
  width: 100% !important;
  display: block !important;
}
.select2 .select2-selection {
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  box-sizing: border-box;
  height: 36px;
  border: 1px solid var(--color-main);
  border-radius: 8px;
  display: flex;
}
.select2 .select2-selection .select2-selection__rendered {
  width: 100%;
  margin: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.select2 .select2-selection .select2-selection__arrow {
  min-width: 34px;
  width: 34px;
  height: 33px;
  margin-top: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683417 12.0976 1.31658 11.7071 1.70711L7.41421 6C6.63317 6.78105 5.36684 6.78105 4.58579 6L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
}
.select2:not(.select2-container--open) .dropdown-wrapper {
  display: none;
}
.select2 .dropdown-wrapper {
  display: block;
  position: relative;
}
.select2 .dropdown-wrapper span {
  display: block;
}
.select2 .dropdown-wrapper .select2-container {
  z-index: 10;
  top: 0 !important;
  left: 0 !important;
  background: #EEF1F8;
  padding: 0 16px 0 20px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}
.select2 .dropdown-wrapper .select2-container .select2-dropdown {
  width: auto !important;
}
.select2 .dropdown-wrapper .select2-container .select2-dropdown .select2-results__options {
  box-sizing: border-box;
  padding: 16px 0;
  max-height: 186px;
  overflow: auto;
  overflow-x: hidden;
}
.select2 .dropdown-wrapper .select2-container .select2-dropdown .select2-results__options li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 1.3;
}
.select2 .dropdown-wrapper .select2-container .select2-dropdown .select2-results__options li:last-child {
  margin-bottom: 0;
}
.select2 .dropdown-wrapper .select2-container .select2-dropdown .select2-results__options li:hover,
.select2 .dropdown-wrapper .select2-container .select2-dropdown .select2-results__options li.select2-results__option--selected {
  color: var(--color-main);
}
.select2 .dropdown-wrapper .select2-container .select2-search {
  display: none;
}
.select2 .simplebar-track.simplebar-vertical {
  background: #C1D9EC;
  border-radius: 100px;
  width: 6px;
  top: 16px;
  bottom: 16px;
}
.select2 .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background: #69A0C3;
}
.message-block .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.message-block .icon .i {
  width: 64px;
  height: 56px;
}
.message-block .title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.33;
}
.message-block .text {
  margin-top: 16px;
  text-align: center;
}
.confirm-block .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.confirm-block .buttons button,
.confirm-block .buttons .button {
  margin-right: 16px;
}
.confirm-block .buttons button:last-child,
.confirm-block .buttons .button:last-child {
  margin-right: 0;
}

