//  1200 - 1440

@media screen and (max-width: 1440px) {
    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .auth-layout {
        grid-template-columns: minmax(0, 42%) minmax(0, 1fr);
    }

    #wrapper {
        grid-template-columns: minmax(0, 192px) minmax(0, 1fr);

        #right {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    body {
        &.has-right {
            #wrapper {
                grid-template-columns: minmax(0, 192px) minmax(0, 42%) minmax(0, 1fr);
            }
        }
    }

    .sidebar-header-block {
        .logo {
            padding-left: 24px;
        }

        .profile {
            .label {
                padding-left: 24px;
            }
        }
    }

    .sidebar-menu-block {
        ul {
            li {
                a {
                    padding-left: 24px;
                    padding-right: 16px;
                }
            }
        }
    }

    .sidebar-petrushka-block {
        padding-left: 24px;
    }

    .eat-grid {
        .item {
            .info {
                .name {
                    font-size: 16px;
                }
            }
        }
    }
}


//  960 - 1200

@media screen and (max-width: 1200px) {
    #wrapper {
        grid-template-columns: minmax(0, 48px) minmax(0, 1fr);
    }

    #wrapper {
        #center {
            padding-left: 0;
        }
    }

    body {
        &.has-right {
            #wrapper {
                grid-template-columns: minmax(0, 48px) minmax(0, 51%) minmax(0, 1fr);
            }
        }
    }

    .sidebar-toggle-block {
        display: flex;
    }

    .sidebar {
        width: 208px;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: -208px;
    }

    body.sidebar-visible {
        .sidebar {
            left: 0;

            .overlay {
                width: 100%;
                opacity: 0.6;
            }

            .sidebar-menu-block {
                margin-right: 16px;
            }
        }
    }

    body:not(.sidebar-visible) {
        .sidebar {
            .sidebar-header-block {
                .profile {
                    .info {
                        display: none !important;
                    }
                }
            }
        }
    }
}


//  640 - 960

@media screen and (max-width: 960px) {
    .auth-layout {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 168px) minmax(0, 1fr);

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;

            .hadassah {
                margin-bottom: 0;
                margin-right: 64px;
            }

            .pertushka {
                position: relative;
                top: -3px;
            }

            img {
                width: 200px;
            }
        }
    }

    body {
        &.has-right {
            #wrapper {
                grid-template-columns: minmax(0, 48px) minmax(0, 1fr) 0;

                #right {
                    padding: 0;
                }
            }
        }
    }

    .patient-card-block {
        position: fixed;
        z-index: 5;
        width: 480px;

        top: 0;
        bottom: 0;
        right: -480px;

        background: #EEF1F8;
        padding: 24px 24px 24px 48px;
        box-sizing: border-box;

        transition: right 200ms linear;

        .toggle {
            content: '';
            display: block;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            width: 32px;

            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.29289 17.7071C7.90237 17.3166 7.90237 16.6834 8.29289 16.2929L12.5858 12L8.29289 7.70711C7.90237 7.31658 7.90237 6.68342 8.29289 6.29289C8.68342 5.90237 9.31658 5.90237 9.70711 6.29289L14 10.5858C14.781 11.3668 14.7811 12.6332 14 13.4142L9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
        }

        .overlay {
            position: fixed;
            z-index: -1;

            top: 0;
            left: 0;
            bottom: 0;
            width: 0;

            background: #EEF1F8;
            opacity: 0;

            transition: opacity 200ms linear;
        }
    }

    body.patient-card-visible {
        .patient-card-block {
            right: 0;

            .overlay {
                width: 100%;
                opacity: 0.3;
            }
        }
    }

    .eat-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .item {
            .info {
                padding: 12px;

                .name-and-value {
                    display: grid;
                    grid-template-columns: minmax(0, 80px) minmax(0, 1fr);
                    gap: 0 8px;

                    margin-bottom: 8px;

                    .img {
                        display: block;
                        grid-row: span 2;
                        height: 80px;

                        border-radius: 12px;
                        overflow: hidden;
                    }

                    .name {
                        display: flex;
                        align-items: flex-end;
                    }

                    .value {
                        margin: 0;
                    }
                }
            }

            & > .img {
                display: none;
            }
        }
    }
}


//  480 - 640

@media screen and (max-width: 640px) {
    .auth-layout {
        .right {
            justify-content: flex-start;
        }
    }

    #wrapper {
        grid-template-columns: 0 minmax(0, 1fr);

        #center {
            margin-left: 0;
            padding-left: 24px;
            padding-top: 0;
        }
    }

    body {
        &.has-right {
            #wrapper {
                grid-template-columns: 0 minmax(0, 1fr) 0;
            }
        }
    }

    .mfp-content {
        max-width: calc(100vw - (24px * 2));
    }

    .table {
        .tr {
            &.active {
                border-radius: 0;
            }
        }
    }

    .patient-card-block {
        width: 100%;
    }

    .sidebar-toggle-block {
        display: none;
    }

    .mobile-header-block {
        background: #EEF1F8;

        padding: 8px 24px;

        margin: 0 -24px 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                width: 118px;
                height: 24px;
                display: block;
            }
        }

        .menu {
            .i {
                width: 24px;
                height: 24px;
            }
        }

        .petrushka {
            position: relative;
            top: -1px;

            img {
                width: 112px;
                height: 32px;
                display: block;
            }
        }
    }

    .header-block {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;

        .green-menu {
            justify-content: flex-end;
        }

        .menu {
            grid-column: span 2;
            grid-row-start: 2;

            margin-top: 16px;
        }
    }

    .eat-menu-block {
        display: grid;
        grid-template-columns: minmax(0, 1fr);

        .date {
            grid-row-start: 1;
            margin: 0 0 10px;
        }
    }

    .eat-grid {
        grid-template-columns: minmax(0, 1fr);
    }
}

//  320 - 480

@media screen and (max-width: 480px) {
    .auth-layout {
        background: #EEF1F8;

        height: auto;
        min-height: 100vh;
        overflow: auto;

        grid-template-rows: minmax(0, 98px) minmax(0, 1fr) minmax(0, 112px);

        .left {
            padding: 0;

            img {
                width: 158px;
            }

            .hadassah {
                margin-right: 0;
            }

            .pertushka {
                display: none;
            }
        }

        .right {
            padding: 20px;
            overflow: visible;

            justify-content: center;

            .segment {
                background: #fff;
            }
        }

        &:after {
            content: '';
            display: block;

            background-image: url(../img/petrushka.png);
            background-size: 158px 48px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .segment {
        padding: 24px 16px;
    }

    .register-form {
        .item-actions {
            justify-content: flex-start;
        }
    }
}