html {
    body {
        background: #fff;
        color: #1A1B1C;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42;
        margin: 0;
        padding: 0;
        min-width: 320px;
    }
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0, 224px) minmax(0, 50%) minmax(0, 1fr);

    height: 100vh;

    #left {
        padding: 24px 0;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #center {
        overflow: auto;
        padding: 24px;
        margin-left: 24px;
    }

    #right {
        background: #EEF1F8;
        overflow: auto;
    }
}

p {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}


a {
    color: var(--color-main);
    text-decoration: none;
}


* {
    outline: none !important;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    text-align: center;
}


.form-group {
    margin-bottom: 16px;

    &.item-actions {
        button,
        .button {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    & > label {
        display: block;
        margin-bottom: 8px;
        line-height: 1.35;
    }

    input[type="text"],
    input[type="password"] {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        background: #fff;
        margin: 0;
        padding: 0 12px;
        box-sizing: border-box;
        height: 36px;
        border: 1px solid var(--color-main);
        border-radius: 8px;
        width: 100%;

        &::placeholder {
            color: #A7BBC7;
        }
    }
}


button,
.button {
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 34px;
    background: var(--color-main);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    line-height: 1.35;

    display: flex;
    align-items: center;
    justify-content: center;

    &.white {
        border: 2px solid var(--color-main);
        background: #fff;
        color: var(--color-main);
        position: relative;
    }

    .i {
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }
}


.segment {
    border: 2px solid #0E7ABC;
    border-radius: 16px;
    padding: 24px 32px;
    box-sizing: border-box;

    & > .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
        line-height: 1.35;
    }
}


.auth-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    height: 100vh;

    .left {
        background: #EEF1F8;
        padding: 30px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hadassah {
            margin-bottom: 64px;
        }

        img {
            display: block;

            max-width: 100%;
            width: 276px;
            height: auto;
        }
    }

    .right {
        overflow: auto;
        padding: 30px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > .content {
            width: 480px;
            max-width: 100%;

            &.small {
                width: 400px;
            }
        }
    }
}


.sidebar-header-block {
    .logo {
        display: flex;
        justify-content: center;

        padding: 12px;
        margin-bottom: 72px;

        img {
            display: block;

            max-width: 100%;
            width: 118px;
            height: auto;
        }
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 12px;
        color: #A7BBC7;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.35;
        letter-spacing: 0.72px;

        &:hover {
            color: var(--color-main);
        }

        .i {
            min-width: 32px;
            width: 32px;
            height: 32px;

            margin-right: 24px;
        }
    }
}


.sidebar-menu-block {
    ul {
        li {
            &.active,
            &:hover {
                a {
                    color: var(--color-main);

                    .icon-default {
                        display: none;
                    }
                }
            }

            &.active {
                a {
                    background: #EEF1F8;

                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 4px;
                        background: var(--color-main);
                    }
                }
            }

            &:not(.active):not(:hover) {
                .icon-colored {
                    display: none;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                padding: 16px 24px 16px 48px;
                border-radius: 0 16px 16px 0;
                box-sizing: border-box;

                font-size: 16px;
                font-weight: 600;
                color: #a7bbc7;

                .i {
                    width: 32px;
                    height: 32px;

                    min-width: 32px;
                    margin-right: 24px;
                }

                &:hover {
                    color: var(--color-main);
                }
            }
        }
    }
}


.sidebar-petrushka-block {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    img {
        display: block;

        max-width: 100%;
        width: 112px;
        height: auto;
    }
}


.header-block {
    padding: 8px 0;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 24px;
        font-weight: 800;
        color: #0e7abc;
    }
}


.table {
    display: none;

    .tr {
        display: grid;

        &.active {
            background: #EEF1F8;
            margin: 0 -24px;
            padding: 0 24px;
            border-radius: 16px 0 0 16px;
        }

        .th {
            padding: 12px 16px 12px 0;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.72px;
            color: #c9ced1;
            border-bottom: 2px solid #EEF1F8;
            margin-bottom: 4px;

            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                color: #a7bbc7;

                &.sort {
                    &:hover {
                        color: var(--color-main);
                    }

                    &:after {
                        content: '';
                        width: 12px;
                        height: 6px;

                        margin-left: 10px;

                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%23A7BBC7'/%3E%3C/svg%3E%0A");
                    }

                    &.desc:after {
                        transform: rotate(180deg);
                    }

                    &.active:after {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }

        .td {
            padding: 16px 16px 16px 0;

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .name {
                font-size: 16px;
                font-weight: 500;
            }

            .tag {
                display: inline-block;
                vertical-align: middle;
                padding: 4px 16px;
                border-radius: 100px;
                font-weight: 600;
                line-height: 1.71;
                text-transform: uppercase;

                &.yellow {
                    background: #FDF7C6;
                    color: #EDD727;
                }

                &.green {
                    background: #D4F5C8;
                    color: #7AB764;
                }

                &.mint {
                    background: #C8F5E5;
                    color: #63C09F;
                }

                &.purple {
                    background: #DBDAFF;
                    color: #9C99F2;
                }

                &.blue {
                    background: #CAF0FB;
                    color: #01AEEE;
                }
            }
        }
    }
}


//.table {
//    table {
//        width: 100%;
//
//        th {
//            vertical-align: middle;
//            padding: 12px 16px 12px 0;
//            text-align: left;
//            font-size: 12px;
//            font-weight: 600;
//            text-transform: uppercase;
//            letter-spacing: 0.72px;
//            color: #c9ced1;
//
//            border-bottom: 2px solid #EEF1F8;
//
//            &.sort {
//                span,
//                a {
//                    display: flex;
//                    align-items: center;
//                    justify-content: flex-start;
//
//                    color: #a7bbc7;
//
//                    &:not(span):hover {
//                        color: var(--color-main);
//                    }
//
//                    &:after {
//                        content: '';
//                        width: 12px;
//                        height: 6px;
//
//                        margin-left: 10px;
//
//                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%23A7BBC7'/%3E%3C/svg%3E%0A");
//                    }
//                }
//
//                &.desc span:after {
//                    transform: rotate(180deg);
//                }
//                &.active span:after {
//                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L12 6H0L6 0Z' fill='%230E7ABC'/%3E%3C/svg%3E%0A");
//                }
//            }
//        }
//
//        td {
//            vertical-align: middle;
//            padding: 0;
//
//            & > span {
//                padding: 20px 16px 20px 0;
//                display: block;
//            }
//            &.td-tag > span {
//                padding: 0;
//                height: 100%;
//
//                display: flex;
//                flex-wrap: wrap;
//            }
//
//            &.td-name {
//                font-size: 16px;
//                font-weight: 500;
//            }
//
//            .tag {
//                display: block;
//                vertical-align: middle;
//                padding: 4px 16px;
//                border-radius: 100px;
//                font-weight: 600;
//                line-height: 1.71;
//                text-transform: uppercase;
//
//                &.yellow {
//                    background: #FDF7C6;
//                    color: #EDD727;
//                }
//                &.green {
//                    background: #D4F5C8;
//                    color: #7AB764;
//                }
//                &.mint {
//                    background: #C8F5E5;
//                    color: #63C09F;
//                }
//                &.purple {
//                    background: #DBDAFF;
//                    color: #9C99F2;
//                }
//                &.blue {
//                    background: #CAF0FB;
//                    color: #01AEEE;
//                }
//            }
//        }
//
//        tr.active {
//            background: #EEF1F8;
//
//            td:first-child > span {
//                display: block;
//
//                margin-left: -24px;
//                padding-left: 24px;
//
//                background: #EEF1F8;
//                border-radius: 16px 0 0 16px;
//            }
//            td:last-child > span {
//                margin-right: -24px;
//                padding-right: 24px;
//
//                background: #EEF1F8;
//            }
//        }
//    }
//}